.container {
  text-align: center;
  background-color: #e3e3e3;
  background-image: url(https://i.pinimg.com/originals/16/b2/b3/16b2b38d1acedd03c56fbb029fd9cf00.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
